<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Anas Khan
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Welcome</strong>
    <p>Wanna Know About Me? <a target="_blank" rel="noopener noreferrer" href="https://github.com/chilloutwithanas">Click Here</a></p>
  </div>
</ion-content>
